@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: 'SamsungOne';
  src: url('/fonts/SamsungOne-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOne';
  src: url('/fonts/SamsungOne-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungSharpSans';
  src: url('/fonts/SamsungSharpSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'SamsungOne', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
  color: black;
}