@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* @layer base required to make tailwind config recognize font-family variables */
@layer base { 
  .font-samsung {
    font-family: var(--font-samsung-one);
  }
  .font-sharpsans {
    font-family: var(--font-sharpsans);
  }
}

/* Default font stack */
body {
  -webkit-font-smoothing: antialiased; /*Makes font look sharper and cleaner, esp on Macbooks*/
  -moz-osx-font-smoothing: grayscale;
}
